<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://wisopt.com/images/favicon1.png" sizes="16x16" type="image/png">

    <title>WisOpt Web</title>

    <!-- Styles -->
    <link href="css/app.css" rel="stylesheet">
    <link href="css/ann.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <div>
    <nav class="navbar navbar-default navbar-static-top shadow">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="/">
                    <img src="images/wisopt-black.png" style="width: 130px; margin-top: -10px;">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default shadow">
                        <div class="panel-body form-padding" >
                            <form class="" role="form" method="POST" action="/">

                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    <input id="email" type="email" id="email" class="form-control" name="email" required autofocus placeholder="Official E-Mail Address">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" id="password" placeholder="Password" class="form-control" name="password" required>
                         </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary login-btn">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer" >
                            <h5 style="text-align: center;">Download <b><a href="https://wisopt.com">WisOpt</a></b> for Registration</h5>
                            <div class="row">
                                <div class="col-md-6 col-xs-6" style="padding: 0;">
                                    <a href="http://bit.ly/WisoptAndroid" target="_blank"><img src="images/google-logo.png" style="width: 120px;height: 45px; float: right;"></a>

                                </div>
                                <div class="col-md-6 col-xs-6" style="padding: 0;">
                                    <a href="https://bit.ly/WisoptAppstore" target="_blank"><img src="images/apple-logo.png" style="width: 120px;height: 45px; margin-top: -1px;"></a>
                                </div>
                            </div>
                            <h5 style="text-align: center;">&copy; Made with <span style="color: #FF0074; font-weight: 900;">&hearts;</span> by <a href="https://monkwish.com">Monkwish</a>. All Rights Reserved.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>
